﻿@{
    ViewBag.Title = "Reporte Destarados";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //tblDestarados
}



@*<p>Motona.</p>*@


<div>
    <label class="standard_label_style" for="party">Fecha Inicial:</label>
    <input type="date" id="fechaInicial" name="fechaInicial" min="2018-01-01" max="2025-12-12">

    <label for="party">Fecha Final:</label>
    <input type="date" id="fechaFinal" name="fechaFinal" min="2018-01-01" max="2025-12-12">
    <button class="button"><i class="glyphicon glyphicon-search" onclick="tableUpdate(document.getElementById('fechaInicial').value, document.getElementById('fechaFinal').value) "></i></button>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive m-t-40">
                    <table id="tblDestarados" class="display nowrap table table-hover table-striped table-bordered">
                        <thead>
                            <tr class="headings">
                        </thead>
                        <thead>
                            <tr>
                                <th>Mn</th>
                                <th>Placa</th>
                                <th>Cliente</th>
                                <th>Destino</th>
                                <th>Producto</th>
                                <th>Concepto</th>
                                <th>Bodega</th>
                                <th>Transportadora</th>
                                <th>Escotilla</th>
                                <th>Consecutivo</th>
                                <th>Orden</th>
                                <th>Tara</th>
                                <th>Destara</th>
                                <th>Neto</th>
                                <th>ReservaT</th>
                                <th>Enturnado</th>
                                <th>Radicado</th>
                                <th>Tarado</th>
                                <th>Destarado</th>
                                <th>EquipoDesc</th>
                                <th>BasTara</th>
                                <th>BasDestara</th>
                                <th>IngresaSprb</th>
                                <th>SalidaSprb</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/bower_components/jquery/dist/jquery-1.12.4.js"></script>
<script src="~/bower_components/datatables/jquery.dataTables.min.js"></script>


<script type="text/javascript">

    var uriApi = "http://172.30.200.50/oppgranelesapi/api/Reports/";

    var fecha = new Date();
    var fInicial = new Date(fecha.setDate(fecha.getDate() - 3)).toJSON().slice(0, 10);
    var fFinal = new Date().toJSON().slice(0, 10)
    function tableUpdate(fechaInicial, fechaFinal)
    {

        var table = $('#tblDestarados').dataTable();
        var uriApiOperation = "";
        if (fechaInicial != "" && fechaFinal != "") {

             uriApiOperation = uriApi + 'Destarados' + '/' + fechaInicial + '/' + fechaFinal;
        }
        else 
        {
            uriApiOperation = uriApi + 'Destarados' + '/' + fInicial + '/' + fFinal;
        }
        table.fnReloadAjax(uriApiOperation);
        table.fnReloadAjax();

    }

    function getDataBodega() {
        $.ajax({
            type: "GET",
            url: uriApi + 'bodegas',
            dataType: "json",
            success: function (data) {
                $.each(data, function (key, registro) {
                    $("#Select").append('<option value=' + registro.id + '>' + registro.nombre + '</option>');
                });
            },
            error: function (data) {
                alert('error');
            }
        });
    }

    function myFunction(orden) {
        var uri = uriApi + 'Reports/';
        var id = orden;;
        var usuario = 'admin';

        var observacion = $('#campo_observacion_' + orden).val();
        var bodega = $('#select_bodega_' + orden).val();

        if (observacion != "") {
            $.getJSON(uriApi + 'setBodega' + '/' + orden + '/' + observacion + '/' + bodega + '/' + usuario);

            alert('La orden numero:' + orden + ' Fue Asignada exitosamente  !');

        }
        else {
            alert('Debe ingresar la Observación para asignar la Orden numero:' + orden);
        }


    }


    $(document).ready(function () {

        // Setup - add a text input to each footer cell

        //$('#tblDestarados tfoot th').each(function () {
        //    var title = $(this).text();
        //    $(this).html('<input type="text" placeholder="Buscar ' + title + '" />');

        //});

        var table = $('#tblDestarados').DataTable({
            "sAjaxDataProp": "",
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
            , "pageLength": 400,
            
            "scrollX": true,
            "scrollY": true,
            "ajax": uriApi + 'Destarados' + '/' + fInicial + '/' + fFinal,
            "dom": "Bfrtip"
            ,"buttons": ["excel"],
            "columns": [
                        { "data": "mn" },
                        { "data": "placa" },
                        { "data": "cliente" },
                        { "data": "destino" },
                        { "data": "producto" },
                        { "data": "concepto" },
                        { "data": "bodega" },
                        { "data": "transportadora" },
                        { "data": "escotilla" },
                        { "data": "consecutivo" },
                        { "data": "orden" },
                        { "data": "tara" },
                        { "data": "destara" },
                        { "data": "neto" },
                        { "data": "reservaT", render: function (data, type, row) { return moment(data).format('YYYY-MM-DD HH:mm'); } },
                        { "data": "enturnado", render: function (data, type, row) { return moment(data).format('YYYY-MM-DD HH:mm'); } },
                        { "data": "radicado", render: function (data, type, row) { return moment(data).format('YYYY-MM-DD HH:mm'); } },
                        { "data": "tarado", render: function (data, type, row) { return moment(data).format('YYYY-MM-DD HH:mm'); } },
                        { "data": "destarado", render: function (data, type, row) { return moment(data).format('YYYY-MM-DD HH:mm'); } },
                        { "data": "equipoDesc" },
                        { "data": "basTara" },
                        { "data": "basDestara" },
                        { "data": "ingresaSprb", render: function (data, type, row) { return moment(data).format('YYYY-MM-DD HH:mm'); } },
                        { "data": "salidaSprb", render: function (data, type, row) { return moment(data).format('YYYY-MM-DD HH:mm'); } }


            ]
      

        });




    });




</script>
