﻿@using baseApp2.Models
@model LoginViewModel


@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Login.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>Portal Integrado </b>VenturaGroup</a>
    </div>
    <div class="login-box-body">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
            <p class="login-box-msg">Inicio de Sesion Portal Integrado VenturaGroup</p>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group has-feedback">
            @*@Html.LabelFor(m => m.codUser, new { @class = "col-md-2 control-label" })*@
            @Html.TextBoxFor(m => m.UserCode, new { @class = "form-control" , placeholder = "Usuario" })
            @Html.ValidationMessageFor(m => m.UserCode, "", new { @class = "text-danger" })

            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        @*<div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>*@
        <div class="form-group has-feedback">
            @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Contraseña" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-6">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>

            <div class="col-xs-4">
                <input type="submit" value="Log in" class="btn btn-primary btn-block btn-flat" />
            </div>

        </div>
        @*<p>
        @Html.ActionLink("Register as a new user", "Register")
    </p>*@
        @* Enable this once you have account confirmation enabled for password reset functionality*@
        <p>
            @Html.ActionLink("Forgot your password?", "ForgotPassword")
        </p>
}
        </section>
    </div>
    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}