﻿@model IEnumerable<Model.Custom.UserGrid>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-striped">
    @*<tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.NameUser</td>
                </tr>
            }

        </tbody>*@

    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Rol</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
        <tr>
            <td><a href="~/User/Get/@m.Id">@m.Id</a></td>
            <td>@m.NameUser</td>
            <td>@m.Role</td>
        </tr>
        }
    </tbody>
</table>