﻿@{
    ViewBag.Title = "Reporte Tara Volquetas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //tblTaraVolquetas
}
<h2>@ViewBag.Title.</h2>


@*<p>Motona.</p>*@


<div>
    <label class="standard_label_style" for="party">Fecha Inicial:</label>
    <input type="date" id="fechaInicial" name="fechaInicial" min="2018-01-01" max="2025-12-12">

    <label for="party">Fecha Final:</label>
    <input type="date" id="fechaFinal" name="fechaFinal" min="2018-01-01" max="2025-12-12">
    <button class="button"><i class="glyphicon glyphicon-search" onclick="tableUpdate(document.getElementById('fechaInicial').value, document.getElementById('fechaFinal').value) "></i></button>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive m-t-40">
                    <table id="tblTaraVolquetas" class="display nowrap table table-hover table-striped table-bordered">
                        <thead>
                            <tr class="headings">
                        </thead>
                        <thead>
                            <tr>
                                <th>Transportadora</th>
                                <th>Placa</th>
                                <th>Fecha</th>
                                <th>Cedula</th>
                                <th>Conductor</th>
                                <th>Tara</th>
                                <th>Pesadas</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/bower_components/jquery/dist/jquery-1.12.4.js"></script>
<script src="~/bower_components/datatables/jquery.dataTables.min.js"></script>


<script type="text/javascript">

    var uriApi = "http://172.30.200.50/oppgranelesapi/api/Reports/";

    var fecha = new Date();
    var fInicial = new Date(fecha.setDate(fecha.getDate() - 3)).toJSON().slice(0, 10);
    var fFinal = new Date().toJSON().slice(0, 10);

    function tableUpdate(fechaInicial, fechaFinal) {


        if (fechaInicial != "" && fechaFinal != "") {

            var table = $('#tblTaraVolquetas').dataTable();
            var uriApiOperation = uriApi + 'TaraVolquetas' + '/' + fechaInicial + '/' + fechaFinal;


            table.fnReloadAjax(uriApiOperation);
            table.fnReloadAjax();
        }

    }

    $(document).ready(function () {

        // Setup - add a text input to each footer cell

        $('#tblTaraVolquetas tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Buscar ' + title + '" />');


        });

        var table = $('#tblTaraVolquetas').DataTable({
            "sAjaxDataProp": "",
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
             , "pageLength": 50,
            "scrollX": true,
            "scrollY": true,
            "ajax": uriApi + 'TaraVolquetas' + '/' + fInicial + '/' + fFinal,
            "columns": [

                            { "data": "transportadora" },
                            { "data": "placa" },
                            { "data": "fecha", render: function (data, type, row) { return moment(data).format('YYYY-MM-DD HH:mm'); } },
                            { "data": "cedula" },
                            { "data": "conductor" },
                            { "data": "tara" },
                            { "data": "pesadas" }
            ],
            dom: 'Bfrtip',
            buttons: [
                 'csv', 'excel']
              

        });
       
    });


</script>
