﻿

<!DOCTYPE html>
<html lang="en">
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>

    <style type="text/css">
        thead {
            text-align: left;
        }
    </style>
    <style type="text/css">

        div.dt-buttons {
            position: relative;
            float: right;
        }
        div.dataTables_wrapper {
            margin: 0 auto;
            width: 100%;
        }

        .tableList {
            width: 100%;
            font-family: Georgia, serif;
            font-size: 13px;
            text-shadow: none !important;
        }

            .tableList thead tr th, .tableList tfoot tr th {
                vertical-align: middle !important;
                white-space: nowrap;
            }

            .tableList tbody tr.groupTR td.groupTD {
                background-color: #999;
                padding: 5px 10px !important;
                border: groove medium #999;
                font-weight: bold;
                text-align: left;
            }

                .tableList tbody tr.groupTR td.groupTD .groupInfo {
                    padding-left: 10px;
                    font-size: 12px;
                    color: blue;
                    font-weight: normal;
                }

            .tableList tbody tr td {
                padding: 0px 10px !important;
                color: black !important;
                text-align: center;
                vertical-align: middle !important;
                white-space: nowrap;
            }

            .tableList tbody tr.odd td {
                background-color: #d0d0d0;
            }

            .tableList tbody tr.even td {
                background-color: #e0e0e0;
            }

            .tableList tbody tr.selectedRow td {
                background-color: #5CFFFF;
                opacity: 0.8;
            }
    </style>
    <script src=" https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src=" https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src=" https://cdn.datatables.net/rowgroup/1.0.4/js/dataTables.rowGroup.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href=" https://cdn.datatables.net/rowgroup/1.0.4/css/rowGroup.dataTables.min.css">
</head>

@{ ViewBag.Title = "Consultar Costos Turnos"; }






    <body>
        <table id="projectsList" class="display tableList" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Motonave</th>
                    <th>Año</th>
                    <th>Mes</th>
                    <th>Cliente</th>
                    <th>Actividad</th>
                    <th>Costo Persona</th>
                    <th>Costo Refrigerio</th>
                    <th>Costo Total</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>No.</th>
                    <th>Motonave</th>
                    <th>Año</th>
                    <th>Mes</th>
                    <th>Cliente</th>
                    <th>Actividad</th>
                    <th>Costo Persona</th>
                    <th>Costo Refrigerio</th>
                    <th>Costo Total</th>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td></td>
                    <td>NIPPON</td>                    
                    <td>2018</td>
                    <td>NIPPON</td>
                    <td>TRAFIGURA</td>
                    <td>DESCARGUE CON PALERO</td>                    
                    <td>6000</td>
                    <td>2300</td>
                    <td>146888</td>
                </tr>
                <tr>
                    <td></td>
                    <td>NIPPON</td>
                    <td>2018</td>
                    <td>NIPPON</td>
                    <td>TRAFIGURA</td>
                    <td>DESCARGUE CON PALERO</td>
                    <td>6000</td>
                    <td>2300</td>
                    <td>146888</td>
                </tr>
                <tr>
                    <td></td>
                    <td>NEO BEACHWOOD</td>
                    <td>2018</td>
                    <td>NEO BEACHWOOD</td>
                    <td>TRAFIGURA</td>
                    <td>DESCARGUE CON PALERO</td>
                    <td>6000</td>
                    <td>2300</td>
                    <td>146888</td>
                </tr>
                <tr>
                    <td></td>
                    <td>KINGFISHER</td>
                    <td>2018</td>
                    <td>KINGFISHER</td>
                    <td>TRAFIGURA</td>
                    <td>DESCARGUE CON PALERO</td>
                    <td>6000</td>
                    <td>2300</td>
                    <td>146888</td>
                </tr>
                <tr>
                    <td></td>
                    <td>KINGFISHER</td>
                    <td>2018</td>
                    <td>KINGFISHER</td>
                    <td>TRAFIGURA</td>
                    <td>DESCARGUE CON PALERO</td>
                    <td>6000</td>
                    <td>2300</td>
                    <td>146888</td>
                </tr>
            </tbody>
        </table>

    <script type="text/javascript">
        $(document).ready(function () {
            var $tableEle = $('#projectsList');
            var groupCol = 3;

            //Initiate DataTable
            $tableList = $tableEle.DataTable({
                "dom": "<'clear'><'H'r>t<'F'>",
                "autoWidth": true,
                "retrieve": true,
                "orderFixed": [[groupCol, 'asc']],
                "columnDefs": [
                    { "orderable": false, "targets": [0] },
                    { "visible": false, "targets": [2, 3] }
                ],
                "drawCallback": function (settings) {
                    var that = this;
                    if (settings.bSorted || settings.bFiltered) {
                        this.$('td:first-child', { "filter": "applied" }).each(function (i) {
                            that.fnUpdate(i + 1, this.parentNode, 0, false, false);
                        });
                    }

                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var rowsData = api.rows({ page: 'current' }).data();

                    var last = null;
                    var groupTotal = [];

                    api.column(groupCol, { page: 'current' }).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before("<tr class='groupTR'><td colspan='100%' class='groupTD'>" + group + "</td></tr>");
                            last = group;
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>
