﻿
<!DOCTYPE html>
<html lang="en">
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>

    <style type="text/css">
        thead {
            text-align: left;
        }
    </style>
    <style type="text/css">

        div.dt-buttons {
            position: relative;
            float: right;
        }
    </style>

</head>
@{ ViewBag.Title = "Marcaciones"; }





<body>

    <div class="col-md-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Cargar Archivo Marcaciones<small></small></h2>

            </div>
            <div class="x_content">
                <br />
                <form class="form-horizontal form-label-left">

                    <div class="form-group">
                        <label>File input</label>
                        <input type="file">
                    </div>

                    

                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <button type="submit" class="btn btn-primary">Cancelar</button>
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>
</html>
