﻿
@{
    Layout = null;
}



<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>CrearTurno</title>
</head>

@if (Request.IsAuthenticated)
{
    @*<p class="lead"> Utilizando el common para presentar datos almacenados <br>Codigo: @Common.CurrentUser.Get.UserName <br> Nombre:  @Common.CurrentUser.Get.NameUser <br> Role: @Common.CurrentUser.Get.Roles</p>*@
}
<body>

    <div class="col-md-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Enturnar Personal <small></small></h2>

            </div>
            <div class="x_content">
                <br />
                <form class="form-horizontal form-label-left">

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        @*<input class="form-control" id="inputSuccess3" placeholder="Last Name" type="text">*@

                        <select id="heard" class="form-control" required>
                            <option value="">Turno..</option>
                            <option value="TurnoA">TURNO A</option>
                            <option value="TurnoB">TURNO B</option>
                            <option value="TurnoC">TURNO C</option>
                            <option value="TurnoNA">NA</option>
                        </select>

                        <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" name="reservation-time" id="reservation-time" class="form-control" value="01/01/2016 - 01/25/2016" />

                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <select id="heard" class="form-control" required>
                            <option value="">Patio..</option>
                            <option value="press">PATIO 1 (BGP)</option>
                            <option value="net">PATIO 4 (TRENACO)</option>
                            <option value="mouth">ALMAGRARIO</option>
                            <option value="mouth">ALMAGRARIO</option>
                            <option value="mouth">ZONA FRANCA</option>
                            <option value="mouth">ZONA LOGISTICA</option>
                        </select>

                        <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <select id="heard" class="form-control" required>
                            <option value="">Actividad..</option>
                            <option value=1> DESCARGUE CON PALERO		   </option>
                            <option value=1> AUXILIAR                     </option>
                            <option value=1> CARPE Y DESCARPE DE PILAS    </option>
                            <option value=1> ACONDICIONAMIENTO DE PATIOS  </option>
                            <option value=1> DESCONTAMINACION DE PILAS    </option>
                            <option value=1> TARJA                        </option>
                            <option value=1> CARPE Y DESCARPE DE VEHICULOS</option>
                            <option value=1> NA                           </option>
                            <option value=1> LAVADO DE VEHICULOS          </option>
                            <option value=1> COORDINADOR                  </option>
                            <option value=1> DESCARGUE CON RAMPA          </option>
                            <option value=1> URBANEO INTERNO              </option>
                            <option value=1> SOBRE TAMAÑO                 </option>
                            <option value=1> ACOPIO                       </option>
                            <option value=1> ACTIVIDADES DE BODEGA        </option>
                            <option value=1> ACONDICIONAMIENTO DE MUELLE  </option>
                            <option value=1> DESCARGUE CON MINI           </option>
                            <option value=1> BASCULA                      </option>
                            <option value=1> ALIMENTANDO MOLINO           </option>
                            <option value=1> URBANEO                      </option>
                            <option value=1> TRITURADO                    </option>
                            <option value=1> MEZCLA                       </option>
                            <option value=1> TRIMADO                      </option>
                            <option value=1> DESEMBALAJE DE CONTENEDORES  </option>
                            <option value=1> CARPE Y DESCARPE DE VEHICULOS</option>
                            <option value=1> AMBIENTE                     </option>
                            <option value=1> AUXILIAR/MEZCLA              </option>
                            <option value=1> DESCARGUE DE DIRECTOS        </option>
                            <option value=1> DESCARDUE CON RAMPA          </option>
                            <option value=1> MEDIO AMBIEMTE               </option>
                            <option value=1> RECIBO DE DIRECTOS           </option>

                        </select>
                        <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <select id="heard" class="form-control" required>
                            <option value="">Cliente..</option>
                            <option value=1> TRAFIGURA</option>
                            <option value=1> SURAMERICANA</option>
                            <option value=1> GEMCOAL</option>
                            <option value=1> COQUECOL</option>
                            <option value=1> INASISTENCIA</option>
                            <option value=1> INATLANTIC</option>
                            <option value=1> MONOMEROS</option>
                            <option value=1> ROCSA</option>
                            <option value=1> CONTEGRAL</option>
                            <option value=1> CONTEGRAL Y FINCA </option>
                            <option value=1> NA</option>
                        </select>

                        <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <select id="heard" class="form-control" required>
                            <option value="">Motonave..</option>
                            <option value=1>NA				</option>
                            <option value=1>NIPPON            </option>
                            <option value=1>VINVENT GENESIS   </option>
                            <option value=1>ASIAN PRIDE       </option>
                            <option value=1>PANTELIS          </option>
                            <option value=1>BRILLANT JOURNEY  </option>
                            <option value=1>KINGFISHER        </option>
                            <option value=1>KINGFISHER        </option>
                            <option value=1>RECOBRO           </option>
                            <option value=1>ODIRIS            </option>
                            <option value=1>NEO BEACHWOOD     </option>
                            <option value=1>NAVIOS MAGELLAN   </option>

                        </select>
                        <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="container" >
                        <select multiple="multiple" name="favorite_fruits" id="fruit_select" >
                            <option selected="selected" </option>
                            <option>MICOLTA MIRANDA SIMON BOLIVAR	</option>
                            <option>RIVAS MURILLO LUIS ENRIQUE     </option>
                            <option>RENTERIA GAMBOA JHON JANER     </option>
                            <option>VALENCIA MINA EFREN            </option>
                            <option>VELASQUEZ  JORGE ENRIQUE       </option>
                            <option>MINA HINOJOSA JOSE LITO        </option>
                            <option>CASTILLO SANCHEZ HECTOR        </option>
                            <option>COSSIO GARCIA LUIS CARLOS      </option>
                            <option>IBARGUEN ARBOLEDA JOSE ARCINION</option>
                            <option>MOSQUERA  LUIS HERNAN          </option>
                            <option>RIASCOS RIASCOS WASINGTON      </option>
                            <option>TORRES VIVEROS JOSE EVERT      </option>
                            <option>CASTILLO OROBIO JOSE MANUEL    </option>
                            <option>MORENO ORTIZ JERSI             </option>
                            <option>MONTAÑO BERMUDEZ WALTER ANDRES </option>
                            <option>MOSQUERA GRUESO ROBINSON       </option>
                            <option>RIASCOS MORENO HELMER          </option>
                            <option>VALENCIA CONGOLINO ISRAEL      </option>
                            <option>HURTADO GUIZAMANO EDWIN        </option>
                            <option>IBARGUEN MORENO PAULO ALEXIS   </option>
                            <option>MOSQUERA RIASCOS ROBINSON      </option>
                            <option>OBANDO MIRANDA SADOTH          </option>
                            <option>RIASCOS ALOMIA DAVID           </option>
                            <option>ASPRILLA DOMINGEZ FAVIAN       </option>
                            <option>BONILLA GONGOLINO RICAUTE      </option>
                            <option>CARABALI VENTE JESUS ANTONIO   </option>
                            <option>CHALA VALLECILLA PASCUAL       </option>
                            <option>PEREA RUIZ TEODORO             </option>
                            <option>RIASCOS ARBOLEDA JOSE EMILIANO </option>
                            <option>RIASCOS CASTRO JORGE ANDRES    </option>
                            <option>GIRALDO BECERRA ANDRES CAMILO  </option>
                            <option>CAICEDO GONZALEZ ANDERSON      </option>
                            <option>MORENO OROBIO VICTOR HUGO      </option>
                            <option>ORTEGA RIASCOS RUBEN DARIO     </option>
                            <option>ARBOLEDA PERLAZA JUAN EVANGELIS</option>
                            <option>ANGULO ALBORNOZ DIEGO GERMAN   </option>
                            <option>MOSQUERA DURANGO NATRLIO       </option>
                            <option>ARIAS EDINSON FERNEY           </option>
                            <option>MOSQUERA CASTILLO JORGE ANDRES </option>
                            <option>ORTEGA RIASCOS GUSTAVO         </option>
                            <option>VALENCIA POTE MARTIN           </option>
                            <option>ARIAS LANDA DARWIN             </option>
                            <option>ROSAS ARROYO WAINIER           </option>
                            <option>NOVITEÑO CUERO LUIS ARMANDO    </option>
                            <option>PERLAZA RIASCOS RAFAEL         </option>
                            <option>MOSQUERA PALACIOS MIGUEL ANTON </option>
                            <option>SANCHEZ CUNDUMI ANDRES         </option>
                            <option>SOLIS GARCIA ALEXIS            </option>
                            <option>HURTADO MURILLO LUIS EDUARDO   </option>
                            <option>ANGULO CASTILLO MARCIANO       </option>
                            <option>ARRECHEA HURTADO LUIS ENRIQUE  </option>
                            <option>BONILLA PERLAZA WLADIMIR       </option>
                            <option>BONILLA RAMOS JAMERSON         </option>
                            <option>CUENU MAFLA ESTANISLAO         </option>
                            <option>CUERO SINISTERRA SALOMON       </option>
                            <option>GARCES MINA EFREN              </option>
                            <option>GOMEZ BANGUERA JOSE HERNEY     </option>
                            <option>GONGORA MARTINEZ NICANOR       </option>
                            <option>MONTAÑO ZAMORA GUILLERMO       </option>
                            <option>MURILLO MONTAÑO MANUEL OCTAVIO </option>
                            <option>ORTEGA MURILLO MANUEL          </option>
                            <option>RIASCOS GARRIDO GILBERTO ELADIO</option>
                            <option>RIASCOS RIASCOS LUIS ANGEL     </option>
                            <option>RIASCOS ROJAS JUAN CARLOS      </option>
                            <option>SALCEDO TOVAR BREINER          </option>
                            <option>SINISTERRA CADENA LUIS JOSE    </option>
                            <option>SUAREZ OROBIO JAIME            </option>
                            <option>TORRES OBREGON LUIS ALBERTO    </option>
                            <option>TRUQUE GONZALES YUDIER ARLEX   </option>
                            <option>VALENCIA OROBIO OCTAVIO        </option>
                            <option>VENTE HACHITO WASHINGTON       </option>
                            <option>CASTILLO CUNDUMI MAXIMINO      </option>
                            <option>TORRES CAMPAZ VICTORIANO       </option>
                            <option>ALEGRIA CAMPAZ JOHN WAINER     </option>
                            <option>APONTE OJEDA JOSE AUGUSTO      </option>
                            <option>MONTAÑO CAICEDO GUSTAVO        </option>
                            <option>MOSQUERA LOPEZ ERNESTO         </option>
                            <option>PEÑA VELEZ YASMIN ELENA        </option>
                            <option>RODRIGUEZ ROJAS JAVIER         </option>
                            <option>RODRIGUEZ RIASCOS JOSE CILIO   </option>
                            <option>PAREDES JHON                   </option>
                            <option>VALENCIA PATRICIO              </option>
                            <option>ANGULO RAUL                    </option>
                            <option>ANGULO JULIO CESAR             </option>
                            <option>ASPRILLA EDUARDO               </option>
                            <option>LAFAUX CUERO JOSE ROBERTO      </option>
                            <option>OROZCO ANGULO JEFERSON         </option>
                            <option>SINISTERRA MANCILLA FREIMAN    </option>
                            <option>OROZCO TORRES SAMUEL           </option>
                            <option>RAMOS PERLAZA ALEXANDER        </option>
                            <option>MOSQUERA MICOLTA CRISTIAN ROBE </option>
                            <option>ALEGRIA OROZCO JHON JEILER     </option>
                            <option>MOSQUERA GRUESO JEREMIAS       </option>
                            <option>MORENO CAMPAZ BRAYAN STIVEN    </option>
                            <option>MINA MORALES FRANCISCO         </option>
                            <option>MEDINA GOMEZ JOSE LUIS         </option>
                            <option>MONDRAGON EVER                 </option>
                            <option>MONTAÑO ANGULO JOSE ADELMO     </option>
                            <option>MELVIS CAICEDO JAMES           </option>
                            <option>MINA DURAN TRIFILO             </option>
                            <option>OCAMPO JHON JAIRO              </option>
                            <option>BANGUERA PATERSON              </option>
                            <option>POTES TORRES CRISTIAN BRINER   </option>
                            <option>MURILLO DEIBI                  </option>
                            <option>BONILLA JEAN FRANCO            </option>
                            <option>VELASQUEZ JOSE EDIER           </option>
                            <option>QUINTERO RIASCOS RONALD        </option>
                            <option>BARAHONA BANGUERA CRUZ         </option>
                            <option>CAICEDO OCTAVIO                </option>
                            <option>VALLECILLA CARDONA JOHNY       </option>
                            <option>GRANADOS GODOY YEISON ENRIQUE  </option>
                            <option>RIASCOS ARAGON EDWAR ESNEIDER  </option>
                            <option>CASTILLO  OROBIO JHONATAN      </option>
                            <option>SANCHEZ OROBIO WILLIAM DAVID   </option>
                            <option>RIASCOS HINESTROZA LUIS MARIO  </option>
                            <option>SINISTERRA ANGULO JHON ALBERT  </option>
                            <option>RIASCOS JHON EDUARD            </option>
                            <option>MOSQUERA ALZAMORA CARLOS JAVIER</option>
                            <option>QUIÑONES CAICEDO LUIS ALBERTO  </option>
                            <option>OCORO OCORO MANUEL             </option>
                            <option>ESTACIO CAICEDO JHON CARLOS    </option>
                            <option>GRUESO AGUIRRE JAMES JAVIER    </option>
                            <option>MONTANO VALENCIA ARNULFO       </option>
                            <option>PEREZ MORALES JUAN CARLOS      </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <button type="submit" class="btn btn-primary">Cancelar</button>
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <script>
        var select = document.getElementById('fruit_select');
        multi(select, {
            non_selected_header: 'Paleros',
            selected_header: 'Paleros del Turno'
        });
    </script>
</body>
