﻿@{
    ViewBag.Title = "Reporte Verificados";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*<p>Motona.</p>*@

<script src="~/bower_components/jquery/dist/jquery-1.12.4.js"></script>
<table id="tblRadicados" width="100%">
    <thead>
        <tr class="headings">
    <thead>
        <tr>
            <th align="left" width="5%">Mn</th>
            <th align="left" width="5%">Producto</th>
            <th align="left" width="5%">Bodega</th>
            <th align="left" width="5%">Placa</th>
            <th align="left" width="5%">Orden</th>
            <th align="left" width="5%">Tarado</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th align="left">Mn</th>
            <th align="left">Producto</th>
            <th align="left">Bodega</th>
            <th align="left">Placa</th>
            <th align="left">Orden</th>
            <th align="left">Tarado</th>
        </tr>
    </tfoot>
</table>


<script type="text/javascript">

    var uriApi = "http://172.30.200.50/oppgranelesapi/api/Reports/";

    var dataSet =
    [
        {"mn": "FEDERAL CHURCHILL", "cliente": "INGREDION COLOMBIA", "destino": "CALI", "producto": "MAIZ AMERICANO ", "transportadora": "TRANS CARGO", "placa": "SQL145", "orden": "35757", "carga_en": "MUELLE 11 - A", "reservaT": "Feb 10 2018 2:23PM", "enturnado": "Feb 10 2018 3:17PM", "sitioEnturnamiento": "ZOL", "citaSpb": "Feb 13 2018 9:00AM" },
        { "mn": "INDIAN OCEAN", "cliente": "VARGAS SANCHEZ", "destino": "VARGAS SANCHEZ S.A.S.", "producto": "MAIZ AMERICANO ", "transportadora": "TRANSPORTES ALIANCE S.A.S", "placa": "ZNL036", "orden": "36217", "carga_en": "SILOS ", "reservaT": "Feb 13 2018 10:18AM", "enturnado": "Feb 13 2018 10:26AM", "sitioEnturnamiento": "ZOL", "citaSpb": "Feb 13 2018 6:00PM" }
    ];

    $(document).ready(function () {

        // Setup - add a text input to each footer cell

        $('#tblRadicados tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Buscar ' + title + '" />');


        });

        var table = $('#tblRadicados').DataTable({
            "sAjaxDataProp": "",
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            "scrollX": true,
            "scrollY": true,
            "ajax": uriApi+'Tarados',
            "columns": [
                            { "data": "mn"  },
                            { "data": "producto" },
                            { "data": "bodega" },
                            { "data": "placa" },
                            { "data": "orden" },
                            { "data": "tarado" },

                     {
                         "data": "mn",
                         render: function (data, type, row) {
                             return '<input class="form-control"   type="text" size="15" maxlength="255" name= "campo_observacion_' + row.orden + '" id=campo_observacion_' + row.orden + '  >';
                         }
                     },
                     {
                         "data": "mn"
                         ,
                         render: function (data, type, row) {
                             return '<select class ="form-control" style="margin-right:10px;"  name ="select_bodega_' + row.orden + '" id=select_bodega_' + row.orden + ' ><option value="NA">*NO APLICA</option><option value="S16C">AILO 16C PLANTA 3</option><option value="BAL">BOD. ALPOPULAR</option><option value="BG">BODEGA</option><option value="CM1">BODEGA  C MODULO 1</option><option value="CM2">BODEGA  C MODULO 2</option><option value="B. LAS PALMAS">BODEGA  LAS PALMAS</option><option value="B1">BODEGA 1</option><option value="B12">BODEGA 12</option><option value="B12A">BODEGA 12A</option><option value="B12B">BODEGA 12B</option><option value="94">BODEGA 4 SPB</option><option value="BAG">BODEGA A </option><option value="BAC">BODEGA AINTECARGA</option><option value="BA">BODEGA ALMAVIVA</option><option value="BBG">BODEGA B </option><option value="BCG">BODEGA C </option><option value="CM3">BODEGA C MODULO 3</option><option value="BC">BODEGA CARGIL</option><option value="BMB">BODEGA CEMAS</option><option value="CI-2">BODEGA CIAMSA II</option><option value="CO">BODEGA COGRAE</option><option value="BGK">BODEGA CONTEGRAL</option><option value="BDG">BODEGA D </option><option value="BE">BODEGA E</option><option value="BE-M1">BODEGA E M1</option><option value="BE-M2">BODEGA E M2</option><option value="BE-M3">BODEGA E M3</option><option value="BE-M4">BODEGA E M4</option><option value="BE-M5">BODEGA E M5</option><option value="BE-M6">BODEGA E M6</option><option value="BE-M7">BODEGA E M7</option><option value="BE-M8">BODEGA E M8</option><option value="BG-N1">BODEGA GRUPO 1</option><option value="BG-1N5">BODEGA GRUPO 5</option><option value="BI">BODEGA ITALCOL</option><option value="BM">BODEGA MANUCHAR</option><option value="B6">BODEGA No. 6 LA PALMA</option><option value="B">BODEGA OPP</option><option value="BU">BODEGA URBANO D</option><option value="CI">CIAMSA </option><option value="SO G">DIREC. GRANELES</option><option value="SO PP">DIREC. OPP</option><option value="S0">DIRECTO</option><option value="ECOB">ECOBODEGA</option><option value="ECO">ECOFERTIL</option><option value="M">MILLENIUM</option><option value="M10-A">MUELLE 10 - A</option><option value="M10-B">MUELLE 10 - B</option><option value="M10-C">MUELLE 10 - C</option><option value="M10-D">MUELLE 10 - D</option><option value="M11-A">MUELLE 11 - A</option><option value="M11-B">MUELLE 11 - B</option><option value="M11-C">MUELLE 11 - C</option><option value="M11-D">MUELLE 11 - D</option><option value="M12-A">MUELLE 12 - A</option><option value="M12-B">MUELLE 12 - B</option><option value="M12-C">MUELLE 12 - C</option><option value="M12-D">MUELLE 12 - D</option><option value="M13">MUELLE 13</option><option value="M-14">MUELLE 14</option><option value="M28">MUELLE 2 - 8</option><option value="M9-A">MUELLE 9 - A</option><option value="M9-B">MUELLE 9 - B</option><option value="M9-C">MUELLE 9 - C</option><option value="M9-D">MUELLE 9 - D</option><option value="ZBGP">PATIO LOGISTICO BGP</option><option value="PP">PATIO PRODESAL</option><option value="S28D">PLANTA 28D PLANTA 3</option><option value="S1G">SILO 1 PLANTA 1</option><option value="S1">SILO 1 PLANTA 2</option><option value="S10G">SILO 10 PLANTA 1</option><option value="S10">SILO 10 PLANTA 2</option><option value="S10A">SILO 10A PLANTA 3</option><option value="S10C">SILO 10C PLANTA 3</option><option value="S10D">SILO 10D PLANTA 3</option><option value="S11B">SILO 11B PLANTA 3</option><option value="S11C">SILO 11C PLANTA 3</option><option value="S12A">SILO 12A PLANTA 3</option><option value="S12C">SILO 12C PLANTA 3</option><option value="S12D">SILO 12D PLANTA 3</option><option value="S13B">SILO 13B PLANTA 3</option><option value="S13C">SILO 13C PLANTA 3</option><option value="S14A">SILO 14A PLANTA 3</option><option value="S14C">SILO 14C PLANTA 3</option><option value="S14D">SILO 14D PLANTA </option><option value="S15B">SILO 15B PLANTA 3</option><option value="S15C">SILO 15C PLANTA C</option><option value="S16A">SILO 16A PLANTA 3</option><option value="S16D">SILO 16D PLANTA 3</option><option value="S17B">SILO 17B PLANTA 3</option><option value="S17C">SILO 17C PLANTA 3</option><option value="S18A">SILO 18A PLANTA 3</option><option value="S18C">SILO 18C PLANTA 3</option><option value="S18D">SILO 18D PLANTA 3</option><option value="S19B">SILO 19B PLANTA 3</option><option value="S19C">SILO 19C PLANTA 3</option><option value="S2G">SILO 2 PLANTA 1</option><option value="S2">SILO 2 PLANTA 2</option><option value="S20A">SILO 20A PLANTA 3</option><option value="S20C">SILO 20C PLANTA 3</option><option value="S20D">SILO 20D PLANTA 3</option><option value="S22A">SILO 22A PLANTA 3</option><option value="S22C">SILO 22C PLANTA 3</option><option value="S22D">SILO 22D PLANTA 3</option><option value="S23B">SILO 23B PLANTA 3</option><option value="S23C">SILO 23C PLANTA 3</option><option value="S24A">SILO 24A PLANTA 3</option><option value="S24C">SILO 24C PLANTA 3</option><option value="S24D">SILO 24D PLANTA 3</option><option value="S25B">SILO 25B PLANTA 3</option><option value="S25C">SILO 25C PLANTA 3</option><option value="S26A">SILO 26A PLANTA 3</option><option value="S26C">SILO 26C PLANTA 3</option><option value="S26D">SILO 26D PLANTA 3</option><option value="S27B">SILO 27B PLANTA 3</option><option value="S27C">SILO 27C PLANTA 3</option><option value="S28A">SILO 28A PLANTA 3</option><option value="S28C">SILO 28C PLANTA 3</option><option value="S3G">SILO 3 PLANTA 1</option><option value="S3">SILO 3 PLANTA 2</option><option value="SG4">SILO 4 PLANTA 1</option><option value="S4">SILO 4 PLANTA 2</option><option value="S5G">SILO 5 PLANTA 1</option><option value="S5">SILO 5 PLANTA 2</option><option value="S6G">SILO 6 PLANTA 1</option><option value="S6">SILO 6 PLANTA 2</option><option value="S7G">SILO 7 PLANTA 1</option><option value="S7">SILO 7 PLANTA 2</option><option value="S8G">SILO 8 PLANTA 1</option><option value="S8">SILO 8 PLANTA 2</option><option value="S9G">SILO 9 PLANTA 1</option><option value="S9">SILO 9 PLANTA 2</option><option value="SL1">SILO LATERAL 1</option><option value="SL2">SILO LATERAL 2</option><option value="SGRNE">SILOS </option><option value="SOPP">SILOS </option><option value="SA">SILOS ALMAGRARIO </option><option value="SPRB">SPRBUN</option><option value="ZF">ZONA FRANCA</option></select><button class="btn btn-primary" onclick="myFunction(' + row.orden + ')">Asignar</button> ';
                         }
                     }
            ],
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ], initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo($(column.header()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }

        });


        // Apply the search
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });

</script>