﻿
@{
    Layout = null;
    ViewBag.Title = "test";
}

<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="http://datatables.net/download/build/nightly/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://datatables.net/download/build/nightly/jquery.dataTables.js"></script>


    <meta charset=utf-8 />
    <title>DataTables - JS Bin</title>
</head>
<body>

    <div class="box-body">
        <table id="tblTarados" class="display nowrap table table-hover table-striped table-bordered">

            <thead>
                <tr>
                    <th>Empresa</th>
                    <th>Mn</th>
                    <th>Producto</th>
                    <th>Cliente</th>
                    <th>Transportadora</th>
                    <th>Destino</th>
                    <th>Concepto</th>
                    <th>Bodega</th>
                    <th>Placa</th>
                    <th>Orden</th>
                    <th>Tara</th>
                    <th>ReservaT</th>
                    <th>Hora</th>
                    <th>Enturnado</th>
                    <th>Hora</th>
                    <th>Radicado</th>
                    <th>Hora</th>
                    <th bgcolor="#00FF00">Tarado</th>
                    <th>Hora</th>
                    <th>IngresaSprb</th>


                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Empresa</th>
                    <th>Mn</th>
                    <th>Producto</th>
                    <th>Cliente</th>
                    <th>Transportadora</th>
                    <th>Destino</th>
                    <th>Concepto</th>
                    <th>Bodega</th>
                    <th>Placa</th>
                    <th>Orden</th>
                    <th>Tara</th>
                    <th>ReservaT</th>
                    <th>Hora</th>
                    <th>Enturnado</th>
                    <th>Hora</th>
                    <th>Radicado</th>
                    <th>Hora</th>
                    <th bgcolor="#00FF00">Tarado</th>
                    <th>Hora</th>
                    <th>IngresaSprb</th>

                </tr>
            </tfoot>
            <tbody></tbody>
        </table>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {

            var table = $('#tblTarados').DataTable({
                "order": [[1, "desc"]],
                "oLanguage": {
                    "sInfo": "Showing _START_ to _END_ of _TOTAL_ items."
                },
                "ajax": uriApi + 'Tarados' + '/' + fInicial + '/' + fFinal,
                "columns": [
                    { "data": "empresa" },
                    { "data": "mn" },
                    { "data": "producto" },
                    { "data": "cliente" },
                    { "data": "transportadora" },
                    { "data": "destino" },
                    { "data": "concepto" },
                    { "data": "bodega" },
                    { "data": "placa" },
                    { "data": "orden" },
                    { "data": "tara" },
                    { "data": "reservaT" },
                    { "data": "horaReservaT" },
                    { "data": "enturnado" },
                    { "data": "HoraEnturnado" },
                    { "data": "radicado" },
                    { "data": "HoraRadicado" },
                    { "data": "tarado" },
                    { "data": "HoraTarado" },
                    { "data": "ingresaSprb" }


                ]
            });

            $("#tblTarados tfoot th").each(function (i) {

                if ($(this).text() !== '') {
                    var isStatusColumn = (($(this).text() == 'Status') ? true : false);
                    var select = $('<select><option value=""></option></select>')
                        .appendTo($(this).empty())
                        .on('change', function () {
                            var val = $(this).val();

                            table.column(i)
                                .search(val ? '^' + $(this).val() + '$' : val, true, false)
                                .draw();
                        });

                    // Get the Status values a specific way since the status is a anchor/image
                    if (isStatusColumn) {
                        var statusItems = [];

                        /* ### IS THERE A BETTER/SIMPLER WAY TO GET A UNIQUE ARRAY OF <TD> data-filter ATTRIBUTES? ### */
                        table.column(i).nodes().to$().each(function (d, j) {
                            var thisStatus = $(j).attr("data-filter");
                            if ($.inArray(thisStatus, statusItems) === -1) statusItems.push(thisStatus);
                        });

                        statusItems.sort();

                        $.each(statusItems, function (i, item) {
                            select.append('<option value="' + item + '">' + item + '</option>');
                        });

                    }
                    // All other non-Status columns (like the example)
                    else {
                        table.column(i).data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>');
                        });
                    }

                }
            });




        });

    </script>

</body>
</html>

