﻿


@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>
    <style type="text/css">
        thead {
            text-align: left;
        }
    </style>
    <style type="text/css">

        div.dt-buttons {
            position: relative;
            float: right;
        }
    </style>

</head>

@if (Request.IsAuthenticated)
{
    @*<p class="lead"> Utilizando el common para presentar datos almacenados <br>Codigo: @Common.CurrentUser.Get.UserName <br> Nombre:  @Common.CurrentUser.Get.NameUser <br> Role: @Common.CurrentUser.Get.Roles</p>*@

    <div class="box">
        <div class="box-header">           
            <h1>Destarados</h1>
        </div>
        <div>
            <label class="standard_label_style" for="party">Tipo Fecha</label>
            <select name="filtroFecha" id="filtroFecha">
                <option value="0" disabled selected>Seleccionar Fecha...</option>
                <option value="1">Entrada</option>
                <option value="2">Salida</option>

            </select>
            <label class="standard_label_style" for="party">Fecha Inicial:</label>
            <input type="date" id="fechaInicial" name="fechaInicial" min="2018-01-01" max="2025-12-12">

            <label for="party">Fecha Final:</label>
            <input type="date" id="fechaFinal" name="fechaFinal" min="2018-01-01" max="2025-12-12">
            <button class="button"><i class="glyphicon glyphicon-search" onclick="tableUpdate(document.getElementById('fechaInicial').value, document.getElementById('fechaFinal').value) "></i></button>
        </div>

        <!-- /.box-header -->
        <div class="box-body" style="overflow-x: auto; height:100%;" >
            <table id="tblDestarados" class="display nowrap table table-hover table-striped table-bordered">

                <thead>
                    <tr>
                        <th>Empresa</th>
                        <th>Mn</th>
                        <th>Placa</th>
                        <th>Cliente</th>
                        <th>Destino</th>
                        <th>Producto</th>
                        <th>Concepto</th>
                        <th>Bodega</th>
                        <th>Transportadora</th>
                        <th>Escotilla</th>
                        <th>Consecutivo</th>
                        <th>Orden</th>
                        <th>Tara</th>
                        <th>Destara</th>
                        <th>Neto</th>
                        <th>ReservaT</th>
                        <th>Enturnado</th>
                        <th>Radicado</th>
                        <th bgcolor="#00FF00">Tarado</th>
                        <th bgcolor="#00FF00">Destarado</th>
                        <th>EquipoDesc</th>
                        <th>BasTara</th>
                        <th>BasDestara</th>
                        <th>IngresaSprb</th>
                        <th>SalidaSprb</th>
                    </tr>
                    <tr>
                        <th>Empresa</th>
                        <th>Mn</th>
                        <th>Placa</th>
                        <th>Cliente</th>
                        <th>Destino</th>
                        <th>Producto</th>
                        <th>Concepto</th>
                        <th>Bodega</th>
                        <th>Transportadora</th>
                        <th>Escotilla</th>
                        <th>Consecutivo</th>
                        <th>Orden</th>
                        <th>Tara</th>
                        <th>Destara</th>
                        <th>Neto</th>
                        <th>ReservaT</th>
                        <th>Enturnado</th>
                        <th>Radicado</th>
                        <th bgcolor="#00FF00">Tarado</th>
                        <th bgcolor="#00FF00">Destarado</th>
                        <th>EquipoDesc</th>
                        <th>BasTara</th>
                        <th>BasDestara</th>
                        <th>IngresaSprb</th>
                        <th>SalidaSprb</th>
                    </tr>
                </thead>
                <tbody></tbody>
                @*<tfoot>
                        <tr>
                            <th>Empresa</th>
                            <th>Mn</th>
                            <th>Placa</th>
                            <th>Cliente</th>
                            <th>Destino</th>
                            <th>Producto</th>
                            <th>Concepto</th>
                            <th>Bodega</th>
                            <th>Transportadora</th>
                            <th>Escotilla</th>
                            <th>Consecutivo</th>
                            <th>Orden</th>
                            <th>Tara</th>
                            <th>Destara</th>
                            <th>Neto</th>
                            <th>ReservaT</th>
                            <th>Enturnado</th>
                            <th>Radicado</th>
                            <th>Tarado</th>
                            <th>Destarado</th>
                            <th>EquipoDesc</th>
                            <th>BasTara</th>
                            <th>BasDestara</th>
                            <th>IngresaSprb</th>
                            <th>SalidaSprb</th>
                        </tr>
                    </tfoot>*@
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <body>
        <script src="~/bower_components/jquery/dist/jquery-1.12.4.js"></script>
        <script src="~/bower_components/datatables/jquery.dataTables.min.js"></script>
        <script type="text/javascript">


            var uriApi = "http://localhost:1206/api/Reports/";
            var fecha = new Date();
            var fInicial = new Date(fecha.setDate(fecha.getDate() - 3)).toJSON().slice(0, 10);
            var fFinal = new Date().toJSON().slice(0, 10);
            var tFecha = 1;

            document.getElementById('fechaInicial').value = fInicial;
            document.getElementById('fechaFinal').value = fFinal;
            function tableUpdate(fechaInicial, fechaFinal) {

                var mensaje = "";
                var tipoFecha = document.getElementById('filtroFecha').value;

                if (fechaInicial != "" && fechaFinal != "" && tipoFecha != "0") {

                    var table = $('#tblDestarados').dataTable();
                    var uriApiOperation = uriApi + 'Destarados' + '/' + fechaInicial + '/' + fechaFinal + '/' + tipoFecha;
                    table.fnReloadAjax(uriApiOperation);
                    table.fnReloadAjax();
					alert('Actualizar Registros !!');

                }
                else {
                    mensaje = fechaInicial == "" ? " Debe seleccionar la fecha inicial\n" : "";
                    mensaje = fechaInicial == "" ? mensaje + "Debe seleccionar la fecha final\n" : "";
                    mensaje = tipoFecha == 0 ? mensaje + "Debe seleccionar el tipo de fecha" : "";

                    alert(mensaje + "!");

                }

            }

			$(":header").click(function () {
                actualizarTabla()
            });

            function actualizarTabla() {

                document.getElementById('filtroFecha').value = 1;
                tableUpdate(fInicial, fFinal);
                
            }
            $(document).ready(function () {



                var table = $('#tblDestarados').DataTable({
                    "orderCellsTop": true,
                    "columnDefs": [
                        { "className": "dt-head-left", "targets": "_all" }
                    ],
                    "lengthMenu": [
                        [10, 25, 50, -1],
                        ['10', '25', '50', 'Todo']
                    ],
                    "dom": 'Blfrtip',
                    "buttons": [
                        'excel', 'csv'
                    ],
                    initComplete: function () {
                        this.api().columns().every(function () {
                            var column = this;
                            var select = $('<select><option value=""></option></select>')
                                .appendTo($("#tblDestarados thead tr:eq(1) th").eq(column.index()).empty())
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>');
                            });
                        });
                    },
                    "sAjaxDataProp": "",
                    //"sScrollX": true,
                    //"sScrollY": true,
                    "language": {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        }
                        , "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    },
                   "ajax": uriApi + 'Destarados' + '/' + fInicial + '/' + fFinal + '/' + tFecha,
                    "columns": [

                        { "data": "empresa" },
                        { "data": "mn" },
                        { "data": "placa" },
                        { "data": "cliente" },
                        { "data": "destino" },
                        { "data": "producto" },
                        { "data": "concepto" },
                        { "data": "bodega" },
                        { "data": "transportadora" },
                        { "data": "escotilla" },
                        { "data": "consecutivo" },
                        { "data": "orden" },
                        { "data": "tara" },
                        { "data": "destara" },
                        { "data": "neto" },
                        { "data": "reservaT", render: function (data, type, row) { return moment(data).format('YYYY-MM-DD HH:mm'); } },
                        { "data": "enturnado", render: function (data, type, row) { return moment(data).format('YYYY-MM-DD HH:mm'); } },
                        { "data": "radicado", render: function (data, type, row) { return moment(data).format('YYYY-MM-DD HH:mm'); } },
                        { "data": "tarado", render: function (data, type, row) { return moment(data).format('YYYY-MM-DD HH:mm'); } },
                        { "data": "destarado", render: function (data, type, row) { return moment(data).format('YYYY-MM-DD HH:mm'); } },
                        { "data": "equipoDesc" },
                        { "data": "basTara" },
                        { "data": "basDestara" },
                        { "data": "ingresaSprb" },
                        { "data": "salidaSprb" }
                    ]

                });


            });
        </script>

    </body>




}
else
{
    <p>Se debe de logear para poder acceder a la aplicaciones</p>
}

