﻿@using System.Security.Claims
@{
    ViewBag.Title = "Contact";
}
<h2>View My Claims</h2>

@{
    var claimsPrincipal = User as ClaimsPrincipal;

    
    @*var claimsPrincipal1 = new ClaimsPrincipal(identity);
    Thread.CurrentPrincipal1 = claimsPrincipal;

    @User.Identity.*@


    

    }

<table class="table">
    <tr>
        <th>Claim Type</th>
        <th>Claim Value</th>
    </tr>
    @{

        foreach (var claim in claimsPrincipal.Claims)
        {
            <tr>
                <td>@claim.Type </td>
                <td>@claim.Value</td>
            </tr>
        }
    }
</table>