﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>

        <style type="text/css">
            thead {
                text-align: left;
            }
        </style>
        <style type="text/css">

            div.dt-buttons {
                position: relative;
                float: right;
            }
        </style>

    </head>

@if (Request.IsAuthenticated)
{ 
    @*<p class="lead"> Utilizando el common para presentar datos almacenados <br>Codigo: @Common.CurrentUser.Get.UserName <br> Nombre:  @Common.CurrentUser.Get.NameUser <br> Role: @Common.CurrentUser.Get.Roles</p>*@

<div class="box">
     <div class="box-header">           
            <h1>Reserva Turnos</h1>
        </div>
    <div>
        <label class="standard_label_style" for="party">Fecha Inicial:</label>
        <input type="date" id="fechaInicial" name="fechaInicial" min="2018-01-01" max="2025-12-12">

        <label for="party">Fecha Final:</label>
        <input type="date" id="fechaFinal" name="fechaFinal" min="2018-01-01" max="2025-12-12">
        <button class="button"><i class="glyphicon glyphicon-search" onclick="tableUpdate(document.getElementById('fechaInicial').value, document.getElementById('fechaFinal').value) "></i></button>
    </div>

    <!-- /.box-header -->
    <div class="box-body" style="overflow-x: auto; height:100%;">
        <table id="tblReservaTurnos" class="display nowrap table table-hover table-striped table-bordered">

            <thead>
                <tr>
                    <th>Empresa</th>
                    <th>Mn</th>
                    <th>Cliente</th>
                    <th>Destino</th>
                    <th>Producto</th>
                    <th>Transportadora</th>
                    <th>Placa</th>
                    <th>R</th>
                    <th>Orden</th>
                    <th>Conductor</th>
                    <th bgcolor="#00FF00">ReservaT</th>
                    <th>Esperando</th>
                    <th>HoraEstimadaCita</th>
                </tr>
                <tr>
                    <th>Empresa</th>
                    <th>Mn</th>
                    <th>Cliente</th>
                    <th>Destino</th>
                    <th>Producto</th>
                    <th>Transportadora</th>
                    <th>Placa</th>
                    <th>R</th>
                    <th>Orden</th>
                    <th>Conductor</th>
                    <th>ReservaT</th>
                    <th>Esperando</th>
                    <th>HoraEstimadaCita</th>
                </tr>
            </thead>
            
        </table>
    </div>
    <!-- /.box-body -->
</div>
<body>
    <script src="~/bower_components/jquery/dist/jquery-1.12.4.js"></script>
    <script src="~/bower_components/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript">


        var uriApi = "http://localhost:1206/api/Reports/";
        var fecha = new Date();
        var fInicial = new Date(fecha.setDate(fecha.getDate() - 2000)).toJSON().slice(0, 10);
        var fFinal = new Date().toJSON().slice(0, 10);
        
		document.getElementById('fechaInicial').value = fInicial;
        document.getElementById('fechaFinal').value = fFinal;
			
        function tableUpdate(fechaInicial, fechaFinal) {


            if (fechaInicial != "" && fechaFinal != "") {

                var table = $('#tblReservaTurnos').dataTable();
                var uriApiOperation = uriApi + 'ReservaTurnos' + '/' + fechaInicial + '/' + fechaFinal;
                table.fnReloadAjax(uriApiOperation);
                table.fnReloadAjax();
				alert('Actualizar Registros !!');

            }
			else {
                    mensaje = fechaInicial == "" ? " Debe seleccionar la fecha inicial\n" : "";
                    mensaje = fechaInicial == "" ? mensaje + "Debe seleccionar la fecha final\n" : "";               

                    alert(mensaje + "!");

                }

        }
        
		$(":header").click(function () {
                actualizarTabla()
            });

         function actualizarTabla() {
                 
				document.getElementById('fechaInicial').value = fInicial;
                document.getElementById('fechaFinal').value = fFinal;
                tableUpdate(fInicial, fFinal);
               
         }
			
        $(document).ready(function () {

            var table = $('#tblReservaTurnos').DataTable({
               
                    "orderCellsTop": true,
                    "columnDefs": [
                        { "className": "dt-head-left", "targets": "_all" }
                    ],
                    "lengthMenu": [
                        [10, 25, 50, -1],
                        ['10', '25', '50', 'Todo']
                    ],
                    "dom": 'Blfrtip',
                    "buttons": [
                        'excel', 'csv'
                    ],

                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($("#tblReservaTurnos thead tr:eq(1) th").eq(column.index()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>');
                        });
                    });
                },
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                    , "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                "sAjaxDataProp": "",
                "ajax": uriApi + 'ReservaTurnos' + '/' + fInicial + '/' + fFinal,
                "columns": [
                    { "data": "empresa" },
                    { "data": "mn" },
                    { "data": "cliente" },
                    { "data": "destino" },
                    { "data": "producto" },
                    { "data": "transportadora" },
                    { "data": "placa" },
                    { "data": "r" },
                    { "data": "orden" },
                    { "data": "conductor" },
                    { "data": "reservaT" },
                    { "data": "duracion" },
                    { "data": "horaEstimadaCita" }
                ]
            });


        });
    </script>

</body>




}
else
{
<p>Se debe de logear para poder acceder a la aplicaciones</p>
}

