﻿



@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>
    <style type="text/css">
        thead {
            text-align: left;
        }
    </style>
    <style type="text/css">
        div.dt-buttons {
            position: relative;
            float: right;
        }
    </style>

</head>

@if (Request.IsAuthenticated)
{
    @*<p class="lead"> Utilizando el common para presentar datos almacenados <br>Codigo: @Common.CurrentUser.Get.UserName <br> Nombre:  @Common.CurrentUser.Get.NameUser <br> Role: @Common.CurrentUser.Get.Roles</p>*@

    <div class="box">
        <div class="box-header">
            <h1>Test</h1>
        </div>
        <div>
            <label class="standard_label_style" for="party">Fecha Inicial:</label>
            <input type="date" id="fechaInicial" name="fechaInicial" min="2018-01-01" max="2025-12-12">

            <label for="party">Fecha Final:</label>
            <input type="date" id="fechaFinal" name="fechaFinal" min="2018-01-01" max="2025-12-12">
            <button class="button"><i class="glyphicon glyphicon-search" onclick="tableUpdate(document.getElementById('fechaInicial').value, document.getElementById('fechaFinal').value) "></i></button>

        </div>

        <!-- /.box-header -->
        <div class="box-body" style="overflow-x: auto; height:100%;">
            <table id="tblTest" class="display nowrap table table-hover table-striped table-bordered">

                <thead>
                    <tr>
                        <th>Empresa</th>
                        <th>Motonave</th>
                        <th>Deposito</th>
                        <th>Concepto</th>
                        <th>Escotilla</th>
                        <th>Producto</th>
                        <th>Bodega</th>
                        <th>Placa</th>                       
                    </tr>

                    <tr>
                        <th>Empresa</th>
                        <th>Motonave</th>
                        <th>Deposito</th>
                        <th>Concepto</th>
                        <th>Escotilla</th>
                        <th>Producto</th>
                        <th>Bodega</th>
                        <th>Placa</th>                        
                    </tr>
                </thead>

            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <body>
        <script src="~/bower_components/jquery/dist/jquery-1.12.4.js"></script>
        <script src="~/bower_components/datatables/jquery.dataTables.min.js"></script>
        <script type="text/javascript">


        var uriApi = "http://localhost:1206/api/Reports/";
        var fecha = new Date();
        var fInicial = new Date(fecha.setDate(fecha.getDate() - 3)).toJSON().slice(0, 10);
        var fFinal = new Date().toJSON().slice(0, 10);

		document.getElementById('fechaInicial').value = fInicial;
		document.getElementById('fechaFinal').value = fFinal;

			$(":header").click(function () {
					actualizarTabla()
			});

			function actualizarTabla() {

                tableUpdate(fInicial, fFinal);

             }


        function tableUpdate(fechaInicial, fechaFinal) {


            if (fechaInicial != "" && fechaFinal != "") {

                var table = $('#tblTest').dataTable();
                var uriApiOperation = uriApi + 'Test' + '/' + fechaInicial + '/' + fechaFinal;
                table.fnReloadAjax(uriApiOperation);
                table.fnReloadAjax();
				alert('Actualizar Registros !!');

            }

        }

        $(document).ready(function () {

            var table = $('#tblTest').DataTable({

                "orderCellsTop": true,
                "columnDefs": [
                    { "className": "dt-head-left", "targets": "_all" }
                ],
                "lengthMenu": [
                    [10, 25, 50, -1],
                    ['10', '25', '50', 'Todo']
                ],
                "dom": 'Blfrtip',
                "buttons": [
                    'excel', 'csv'
                ],

                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($("#tblTest thead tr:eq(1) th").eq(column.index()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>');
                        });
                    });
                },
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                    , "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                "sAjaxDataProp": "",
                "ajax": uriApi + 'Test' + '/' + fInicial + '/' + fFinal,
                "columns": [
                    { "data": "empresa" },
                    { "data": "mn" },
                    { "data": "deposito" },
                    { "data": "concepto" },
                    { "data": "escotilla" },
                    { "data": "producto" },
                    { "data": "bodega" },
                    { "data": "placa" },
                   
                ]

            });


        });
        </script>

    </body>




}
else
{
    <p>Se debe de logear para poder acceder a la aplicaciones</p>
}

