﻿
@{
    ViewBag.Title = "Consultar Tarados Verificados";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<HTML>

<head>

</head>


<body>

    <div>
        <label class="standard_label_style" for="party">Fecha Inicial Creación:</label>
        <input type="date" id="fechaInicial" name="fechaInicial" min="2018-01-01" max="2025-12-12">

        <label for="party">Fecha Final Creación:</label>
        <input type="date" id="fechaFinal" name="fechaFinal" min="2018-01-01" max="2025-12-12" value="">
        @*<button class="btn"><i class="fa fa-home"  onclick="tableUpdate(document.getElementById('fechaInicial').value, document.getElementById('fechaFinal').value) "></i></button>*@
        <button class="button"><i class="glyphicon glyphicon-search" onclick="tableUpdate(document.getElementById('fechaInicial').value, document.getElementById('fechaFinal').value) "></i></button>
    </div>

  
  

    <table id="tblVerificarTarados" width="100%" class="table">
        <thead>
            <tr class="headings">
        </thead>
        <thead>
            <tr>
                <th>Empresa</th>
                <th>Mn</th>
                <th>Orden</th>
                <th>Placa</th>
                <th>Producto</th>
                <th>Bodega</th>
                <th>Tarado</th>
                <th>Destarado</th>
                <th>BodegaAsignada</th>
                <th>Escotilla</th>
                <th>FechaCreacion</th>
                <th>Observacion</th>

            </tr>
        </thead>
    </table>
</body>
</HTML>

<script src="~/bower_components/jquery/dist/jquery-1.12.4.js"></script>
<script src="~/bower_components/datatables/jquery.dataTables.min.js"></script>

<script>

    var uriApi = "http://172.30.200.50/oppgranelesapi/api/Reports/";
    //var uriApi = "http://172.30.200.50/oppgranelesapi/api/Reports/";
    var fecha = new Date();
    var fInicial = new Date(fecha.setDate(fecha.getDate() - 3)).toJSON().slice(0, 10);
    var fFinal = new Date().toJSON().slice(0, 10)
 
function tableUpdate(fechaInicial, fechaFinal) 
{

    
    if (fechaInicial != "" && fechaFinal!="")
    {
      
        var table = $('#tblVerificarTarados').dataTable();
        var uriApiOperation = uriApi + 'taradosAsignados' + '/' + fechaInicial + '/' + fechaFinal;
        

        table.fnReloadAjax(uriApiOperation);
        table.fnReloadAjax();
    }
 
}





    $(document).ready(function () {


        var table = $('#tblVerificarTarados').DataTable({
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'excel',
                text: 'Excel',
                exportOptions: {
                    modifier: {
                        page: 'current'
                    }
                }
            }
            ]
            ,"pageLength": 400
            ,
            "sAjaxDataProp": "",
            "scrollX": true,
            "scrollY": true,
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                }
            , "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
            },
           "ajax": uriApi + 'taradosAsignados' + '/' + fInicial + '/' + fFinal,
            "columns": [
                        { "data": "empresa" },
                        { "data": "mn" },
                        { "data": "orden" },
                        { "data": "placa" },
                        { "data": "producto" },
                        { "data": "bodega" },
                        { "data": "tarado", render: function (data, type, row) { return moment(data).format('YYYY-MM-DD HH:mm'); } },
                        { "data": "destarado", render: function (data, type, row) { return moment(data).format('YYYY-MM-DD HH:mm'); } },
                        { "data": "bodegaAsignada" },
                        { "data": "escotilla" },
                        { "data": "fechaCreacion2", render: function (data, type, row) { return moment(data).format('YYYY-MM-DD HH:mm'); } },                       
                        { "data": "observacion" }
            ]



        });


    });


</script>
