﻿@{
    ViewBag.Title = "Reporte Enturnados";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h3>@ViewBag.Message</h3>
@*<input type="button" name="actualizar" id="actualizar"  onclick="actualizar()"/>*@

<div>
    <label class="standard_label_style" for="party">Fecha Inicial:</label>
    <input type="date" id="fechaInicial" name="fechaInicial" min="2018-01-01" max="2025-12-12">

    <label for="party">Fecha Final:</label>
    <input type="date" id="fechaFinal" name="fechaFinal" min="2018-01-01" max="2025-12-12">
    <button class="button"><i class="glyphicon glyphicon-search" onclick="tableUpdate(document.getElementById('fechaInicial').value, document.getElementById('fechaFinal').value) "></i></button>
    
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive m-t-40">
                    <table id="tblEnturnados" class="display nowrap table table-hover table-striped table-bordered">
                        <thead >
                            <tr class="headings" >
                        </thead>
                        <thead>
                            <tr>
                                <th>Empresa</th>
                                <th>MN</th>
                                <th>Cliente</th>
                                <th>Destino</th>
                                <th>Producto</th>
                                <th>Transportadora</th>
                                <th>Placa</th>
                                <th>Orden</th>
                                <th>Carga.En</th>
                                <th>Res.Turno</th>
                                <th>Enturnado</th>
                                <th>Sitio.Ent</th>
                                <th>Citas PB</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/bower_components/jquery/dist/jquery-1.12.4.js"></script>
<script src="~/bower_components/datatables/jquery.dataTables.min.js"></script>


<script type="text/javascript">
    var uriApi = "http://172.30.200.50/oppgranelesapi/api/Reports/";
    
    var fecha = new Date();
    var fInicial = new Date(fecha.setDate(fecha.getDate() - 3)).toJSON().slice(0, 10);
    var fFinal   = new Date().toJSON().slice(0, 10)
    


    function tableUpdate(fechaInicial, fechaFinal) {


        if (fechaInicial != "" && fechaFinal != "") {

            var table = $('#tblEnturnados').dataTable();
            var uriApiOperation = uriApi + 'Enturnados' + '/' + fechaInicial + '/' + fechaFinal;


            table.fnReloadAjax(uriApiOperation);
            table.fnReloadAjax();
        }

    }

    var dataSet =
        [
            { "mn": "FEDERAL CHURCHILL", "cliente": "INGREDION COLOMBIA", "destino": "CALI", "producto": "MAIZ AMERICANO ", "transportadora": "TRANS CARGO", "placa": "SQL145", "orden": "35757", "carga_en": "MUELLE 11 - A", "reservaT": "Feb 10 2018 2:23PM", "enturnado": "Feb 10 2018 3:17PM", "sitioEnturnamiento": "ZOL", "citaSpb": "Feb 13 2018 9:00AM" },
            { "mn": "INDIAN OCEAN", "cliente": "VARGAS SANCHEZ", "destino": "VARGAS SANCHEZ S.A.S.", "producto": "MAIZ AMERICANO ", "transportadora": "TRANSPORTES ALIANCE S.A.S", "placa": "ZNL036", "orden": "36217", "carga_en": "SILOS ", "reservaT": "Feb 13 2018 10:18AM", "enturnado": "Feb 13 2018 10:26AM", "sitioEnturnamiento": "ZOL", "citaSpb": "Feb 13 2018 6:00PM" }
        ];

    function actualizar() {

        var table = $('#tblEnturnados').dataTable();
        
        // Example call to load a new file
        table.fnReloadAjax(uriApi + 'EnturnadosByFecha');

        // Example call to reload from original file
        table.fnReloadAjax();

        
    }

    $(document).ready(function () {

        // Setup - add a text input to each footer cell

        //$('#tblEnturnados tfoot th').each(function () {
        //    var title = $(this).text();
        //    $(this).html('<input type="text" placeholder="Buscar ' + title + '" />');


        //});

        var table = $('#tblEnturnados').DataTable({            
            "sAjaxDataProp": "",
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "bPaginate": "false",
                "bLengthChange": "false",
                "bFilter": "true",
                "bInfo": "false",
                "bAutoWidth": "false",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }

            }
             , "pageLength": 100
            ,
            "scrollX": true,
            "scrollY": true,
            "ajax": uriApi + 'Enturnados'+ '/' + fInicial + '/' + fFinal
            , "dom": "Bfrtip"            
            ,"buttons": ["excel"],  //buttons": ["copy", "csv", "excel", "pdf"],
            "columns": [
                { "data": "empresa" },
                { "data": "mn" },
                { "data": "cliente" },
                { "data": "destino" },
                { "data": "producto" },
                { "data": "transportadora" },
                { "data": "placa" },
                { "data": "orden" },
                { "data": "carga_en" },
                {
                    "data": "reservaTFecha", render: function (data, type, row) {
                        if (data != null)
                            return moment(data).format('YYYY-MM-DD HH:mm:ss');
                        else return "";
                    }
                },
                { "data": "enturnado", render: function (data, type, row) { return moment(data).format('YYYY-MM-DD HH:mm'); } },
                { "data": "sitioEnturnamiento" },
                { "data": "citaSpb", render: function (data, type, row) { return moment(data).format('YYYY-MM-DD HH:mm'); } }
            ]
            


        });


      
    });


</script>
