﻿


@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>
    <style type="text/css">
        thead {
            text-align: left;
        }
    </style>

</head>
@{ ViewBag.Title = "Verificar Opp"; }
@if (Request.IsAuthenticated)
{ 
    @*<p class="lead"> Utilizando el common para presentar datos almacenados <br>Codigo: @Common.CurrentUser.Get.UserName <br> Nombre:  @Common.CurrentUser.Get.NameUser <br> Role: @Common.CurrentUser.Get.Roles</p>*@

<div class="box">
    @*<div class="box-header">
        <h3 class="box-title">Verificar Tarados</h3>
    </div>*@


    <!-- /.box-header -->
    <div class="box-body">
        <table id="tblVerificarTarados" class="display nowrap table table-hover table-striped table-bordered">

            <thead>
                <tr>
                    <th>Mn</th>
                    <th>Producto</th>
                    <th>Bodega</th>
                    <th>Placa</th>
                    <th>Orden</th>
                    <th>Tarado</th>
                    <th>Comp.</th>
                    <th>Observacion</th>
                    <th>Bodega</th>
                    <th>Escotilla</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<body>
    <script src="~/bower_components/jquery/dist/jquery-1.12.4.js"></script>
    <script src="~/bower_components/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript">


        var uriApi = "http://localhost:1206/api/Reports/";
        var fecha = new Date();
        var fInicial = new Date(fecha.setDate(fecha.getDate() - 3)).toJSON().slice(0, 10);
        var fFinal = new Date().toJSON().slice(0, 10);

        function myFunction(orden, compartido) {



            var id = orden;
            var usuario = 'admin';


            var observacion = $('#campo_observacion_' + orden).val();
            var escotilla = $('#select_escotilla_' + orden).val();
            var bodega = $('#select_bodega_' + orden).val();
            var empresa = "OPP"

            if (escotilla == "") {

                escotilla = -1;
            }
            if (observacion == "") {
                observacion = "(Ninguna)";
            }


            if (observacion != "") {
                $.getJSON(uriApi + 'setBodega' + '/' + orden + '/' + observacion + '/' + bodega + '/' + usuario + '/' + escotilla + '/' + empresa + '/' + compartido);


            }
            var table = $('#tblVerificarTarados').dataTable();
            table.fnReloadAjax(uriApi + 'TaradosPorVerificar' + '/' + fechaInicial + '/' + fFinal);
            alert('La orden numero:' + orden + ' Fue Asignada exitosamente  !');
            table.fnReloadAjax();


        }

        function tableUpdate(fechaInicial, fechaFinal) {


            if (fechaInicial != "" && fechaFinal != "") {

                var table = $('#tblVerificarTarados').dataTable();
                var uriApiOperation = uriApi + 'TaradosPorVerificar' + '/' + fechaInicial + '/' + fechaFinal;
                table.fnReloadAjax(uriApiOperation);
                table.fnReloadAjax();

            }

        }

        $(document).ready(function () {



            var table = $('#tblVerificarTarados').DataTable(
                {
                "columnDefs": [
                    { "className": "dt-head-left", "targets": "_all" }
                ],               
                "sAjaxDataProp": "",
                "scrollX": true,
                "scrollY": true,
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ Registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                    , "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                "ajax": uriApi + 'TaradosPorVerificar' + '/' + fInicial + '/' + fFinal,
                "columns": [
                    { "data": "mn" },
                    { "data": "producto" },
                    { "data": "bodega" },
                    { "data": "placa" },
                    { "data": "orden" },
                    { "data": "tarado" },
                    { "data": "compartido" },
                    {
                        "data": "mn"
                        , render: function (data, type, row) {
                            return '<input class="form-control"   type="text"  name= "campo_observacion_' + row.orden + '" id=campo_observacion_' + row.orden + '  >';
                        }
                    }
                    ,
                    {
                        "data": "mn"
                        ,
                        render: function (data, type, row) {
                           // return '<select class ="form-control" style="margin-right:10px;"  name ="select_bodega_' + row.orden + '" id=select_bodega_' + row.orden + ' ><option value="NA">*NO APLICA</option><option value="01">Bodega 1</option><option value="02">Bodega 2</option><option value="03">Millenium</option><option value="04">Cobertizo 1</option><option value="05">Cobertizo 2</option><option value="06">BODEGA 3</option><option value="07">Patio Muelle 13</option><option value="08">Motonave</option><option value="09">BODEGA 4</option><option value="10">Zona Franca</option><option value="11">Aproche M13</option><option value="12">OppGraneles</option><option value="13">ALMAGRARIO</option><option value="130">COBERTIZO 18</option><option value="14">Tabor</option><option value="15">Patio Colombia</option><option value="16">Servicio tercero</option><option value="169">COBERTIZO 18</option><option value="17">Trenaco</option><option value="170">SILO 33B PLANTA 3</option><option value="171">COBERTIZO ALMAGRARIO</option><option value="18">Patio Coquecol</option><option value="19">Patio Rieles</option><option value="20">Puerto Sumig</option><option value="21">PATIO BGP</option><option value="22">Motonave A</option><option value="23">Motonave B</option><option value="24">Motonave C</option><option value="25">Motonave D</option><option value="26">Motonave E</option><option value="27">BODEGA TNT</option><option value="28">Bodega 5</option><option value="29">ZONA LOGISTICA</option><option value="30">MANUCHAR</option><option value="31">BODEGA CADEGRAN</option><option value="32">SILO 7 PLANTA 1</option><option value="33">BODEGA E M8</option><option value="34">BODEGA E M3</option><option value="35">BODEGA E M4</option><option value="36">BODEGA E M6</option><option value="37">BODEGA E M5</option><option value="38">SILO 2 PLANTA 1</option><option value="94">BODEGA 4 SPB</option><option value="B">BODEGA OPP</option><option value="B. LAS PALMAS">BODEGA  LAS PALMAS</option><option value="B1">BODEGA 1</option><option value="B12">BODEGA 12</option><option value="B12A">BODEGA 12A</option><option value="B12B">BODEGA 12B</option><option value="B6">BODEGA No. 6 LA PALMA</option><option value="BA">BODEGA ALMAVIVA</option><option value="BAC">BODEGA AINTECARGA</option><option value="BAG">BODEGA A </option><option value="BAL">BOD. ALPOPULAR</option><option value="BB">BODEGA B</option><option value="BBG">BODEGA B </option><option value="BC">BODEGA CARGIL</option><option1value="BCG">BODEGA C </option><option value="BDG">BODEGA D </option><option value="BE">BODEGA E</option><option value="BE-1">BODEGA E MOD 1</option><option value="BE-M1">BODEGA E M1</option><option value="BE-M2">BODEGA E M2</option><option value="BE-M3">BODEGA E M3</option><option value="BE-M4">BODEGA E M4</option><option value="BE-M5">BODEGA E M5</option><option value="BE-M6">BODEGA E M6</option><option value="BE-M7">BODEGA E M7</option><option value="BE-M8">BODEGA E M8</option><option value="BG">BODEGA</option><option value="BG-1N5">BODEGA GRUPO 5</option><option value="BGK">BODEGA CONTEGRAL</option><option value="BG-N1">BODEGA GRUPO 1</option><option value="BI">BODEGA ITALCOL</option><option value="BM">BODEGA MANUCHAR</option><option value="BMB">BODEGA CEMAS</option><option value="BU">BODEGA URBANO D</option><option value="CI">CIAMSA </option><option value="CI-2">BODEGA CIAMSA II</option><option value="CM1">BODEGA  C MODULO 1</option><option value="CM2">BODEGA  C MODULO 2</option><option value="CM3">BODEGA C MODULO 3</option><option value="CO">BODEGA COGRAE</option><option value="ECO">ECOFERTIL</option><option value="ECOB">ECOBODEGA</option><option value="M">MILLENIUM</option><option value="M10-A">MUELLE 10 - A</option><option value="M10-A">MUELLE10-A</option><option value="M10-B">MUELLE 10 - B</option><option value="M10-B">MUELLE10-B</option><option value="M10-C">MUELLE 10 - C</option><option value="M10-C">MUELLE10-C</option><option value="M10-D">MUELLE 10 - D</option><option value="M10-D">MUELLE10-D</option><option value="M11-A">MUELLE 11 - A</option><option value="M11-A">MUELLE 11-A</option><option value="M11-B">MUELLE 11 - B</option><option value="M11-B">MUELLE 11-B</option><option value="M11-C">MUELLE 11 - C</option><option value="M11-C">MUELLE 11-C</option><option value="M11-D">MUELLE 11 - D</option><option value="M11-D">MUELLE 11-D</option><option value="M12-A">MUELLE 12 - A</option><option value="M12-A">MUELLE 12-A</option><option value="M12-B">MUELLE 12 - B</option><option value="M12-B">MUELLE 12-B</option><option value="M12-C">MUELLE 12 - C</option><option value="M12-C">MUELLE 12-C</option><option value="M12-D">MUELLE 12 - D</option><option value="M12-D">MUELLE 12-D</option><option value="M13">MUELLE 13</option><option value="M-14">MUELLE 14</option><option value="M28">MUELLE 2 - 8</option><option value="M9-A">MUELLE 9 - A</option><option value="M9-B">MUELLE 9 - B</option><option value="M9-C">MUELLE 9 - C</option><option value="M9-D">MUELLE 9 - D</option><option value="NA">*NO APLICA</option><option value="PP">PATIO PRODESAL</option><option value="S0">DIRECTO</option><option value="S07-1">SILO 7 PLANTA 1</option><option value="S1">SILO 1 PLANTA 2</option><option value="S10">SILO 10 PLANTA 2</option><option value="S10A">SILO 10A PLANTA 3</option><option value="S10A-3">SILO 10A PLANTA 3</option><option value="S10C">SILO 10C PLANTA 3</option><option value="S10C-3">SILO 10C PLANTA 3</option><option value="S10D">SILO 10D PLANTA 3</option><option value="S10D-3">SILO 10D PLANTA 3</option><option value="S10G">SILO 10 PLANTA 1</option><option value="S11B">SILO 11B PLANTA 3</option><option value="S11B-3">SILO 11B PLANTA 3</option><option value="S11C">SILO 11C PLANTA 3</option><option value="S11C-3">SILO 11C PLANTA 3</option><option value="S12A">SILO 12A PLANTA 3</option><option value="S12A-3">SILO 12A PLANTA 3</option><option value="S12C">SILO 12C PLANTA 3</option><option value="S12C-3">SILO 12C PLANTA 3</option><option value="S12D">SILO 12D PLANTA 3</option><option value="S12D-3">SILO 12D PLANTA 3</option><option value="S13B">SILO 13B PLANTA 3</option><option value="S13B-3">SILO 13B PLANTA 3</option><option value="S13C">SILO 13C PLANTA 3</option><option value="S13C-3">SILO 13C PLANTA 3</option><option value="S14A">SILO 14A PLANTA 3</option><option value="S14A-3">SILO 14A PLANTA 3</option><option value="S14C">SILO 14C PLANTA 3</option><option value="S14C-3">SILO 14C PLANTA 3</option><option value="S14D">SILO 14D PLANTA 3</option><option value="S14D-3">SILO 14D PLANTA 3</option><option value="S15B">SILO 15B PLANTA 3</option><option value="S15B-3">SILO 15B PLANTA 3</option><option value="S15C">SILO 15C PLANTA 3</option><option value="S15C-3">SILO 15C PLANTA 3</option><option value="S16A">SILO 16A PLANTA 3</option><option value="S16A-3">SILO 16A PLANTA 3</option><option value="S16C">SILO 16C PLANTA 3</option><option value="S16C-3">SILO 16C PLANTA 3</option><option value="S16D">SILO 16D PLANTA 3</option><option value="S16D-3">SILO 16D PLANTA 3</option><option value="S17B">SILO 17B PLANTA 3</option><option value="S17B-3">SILO 17B PLANTA 3</option><option value="S17C">SILO 17C PLANTA 3</option><option value="S17C-3">SILO 17C PLANTA 3</option><option value="S18A">SILO 18A PLANTA 3</option><option value="S18A-3">SILO 18A PLANTA 3</option><option value="S18C">SILO 18C PLANTA 3</option><option value="S18C-3">SILO 18C PLANTA 3</option><option value="S18D">SILO 18D PLANTA 3</option><option value="S18D-3">SILO 18D PLANTA 3</option><option value="S19B">SILO 19B PLANTA 3</option><option value="S19B-3">SILO 19B PLANTA 3</option><option value="S19C">SILO 19C PLANTA 3</option><option value="S19C-3">SILO 19C PLANTA 3</option><option value="S1G">SILO 1 PLANTA 1</option><option value="S2">SILO 2 PLANTA 2</option><option value="S20A">SILO 20A PLANTA 3</option><option value="S20A-3">SILO 20A PLANTA 3</option><option value="S20C">SILO 20C PLANTA 3</option><option value="S20C-3">SILO 20C PLANTA 3</option><option value="S20D">SILO 20D PLANTA 3</option><option value="S20D-3">SILO 20D PLANTA 3</option><option value="S22A">SILO 22A PLANTA 3</option><option value="S22A-3">SILO 22A PLANTA 3</option><option value="S22C">SILO 22C PLANTA 3</option><option value="S22C-3">SILO 22C PLANTA 3</option><option value="S22D">SILO 22D PLANTA 3</option><option value="S22D-3">SILO 22D PLANTA 3</option><option value="S23B">SILO 23B PLANTA 3</option><option value="S23B-3">SILO 23B PLANTA 3</option><option value="S23C">SILO 23C PLANTA 3</option><option value="S23C-3">SILO 23C PLANTA 3</option><option value="S24A">SILO 24A PLANTA 3</option><option value="S24A-3">SILO 24A PLANTA 3</option><option value="S24C">SILO 24C PLANTA 3</option><option value="S24C-3">SILO 24C PLANTA 3</option><option value="S24D">SILO 24D PLANTA 3</option><option value="S24D-3">SILO 24D PLANTA 3</option><option value="S25B">SILO 25B PLANTA 3</option><option value="S25B-3">SILO 25B PLANTA 3</option><option value="S25C">SILO 25C PLANTA 3</option><option value="S25C-3">SILO 25C PLANTA 3</option><option value="S26A">SILO 26A PLANTA 3</option><option value="S26A-3">SILO 26A PLANTA 3</option><option value="S26C">SILO 26C PLANTA 3</option><option value="S26C-3">SILO 26C PLANTA 3</option><option value="S26D">SILO 26D PLANTA 3</option><option value="S26D-3">SILO 26D PLANTA 3</option><option value="S27B">SILO 27B PLANTA 3</option><option value="S27B-3">SILO 27B PLANTA 3</option><option value="S27C">SILO 27C PLANTA 3</option><option value="S27C-3">SILO 27C PLANTA 3</option><option value="S28A">SILO 28A PLANTA 3</option><option value="S28A-3">SILO 28A ´PLANTA 3</option><option value="S28C">SILO 28C PLANTA 3</option><option value="S28C-3">SILO 28C PLANTA 3</option><option value="S28D">SILO 28D PLANTA 3</option><option value="S28D-3">SILO 28D PLANTA 3</option><option value="S29B">SILO 29B PLANTA 3</option><option value="S29B-3">SILO 29B PLANTA 3</option><option value="S29C">SILO 29 C PLANTA 3</option><option value="S29C-3">SILO 29C PLANTA 3</option><option value="S2G">SILO 2 PLANTA 1</option><option value="S3">SILO 3 PLANTA 2</option><option value="S30A">SILO 30A PLANTA 3</option><option value="S30A-3">SILO 30A PLANTA 3</option><option value="S30C">SILO 30C PLANTA 3</option><option value="S30C-3">SILO 30C PLANTA 3</option><option value="S30D">SILO 30D PLANTA 3</option><option value="S30D-3">SILO 30D PLANTA 3</option><option value="S31B">SILO 31B PLANTA 3</option><option value="S31B-3">SILO 31B PLANTA 3</option><option value="S31C">SILO 31C PLANTA 3</option>option value="S31C-3">SILO 31C PLANTA 3</option><option value="S32A">SILO 32A PLANTA 3</option><option value="S32A-3">SILO 32A PLANTA 3</option><option value="S32C">SILO 32C PLANTA 3</option><option value="S32C-3">SILO 32C PLANTA 3</option><option value="S32D">SILO 32D PLANTA 3</option><option value="S32D-3">SILO 32D PLANTA 3</option><option value="S34A">SILO 34A PLANTA 3</option><option value="S34A-3">SILO 34A PLANTA 3</option><option value="S34C">SILO 34C PLANTA 3</option><option value="S34C-3">SILO 34C PLANTA 3</option><option value="S34D">SILO 34D PLANTA 3</option><option value="S34D-3">SILO 34D PLANTA 3</option><option value="S35B">SILO 35B PLANTA 3</option><option value="S35B-3">SILO 35B PLANTA 3</option><option value="S35C">SILO 35C PLANTA 3</option><option value="S35C-3">SILO 35C PLANTA 3</option><option value="S36A">SILO 36A PLANTA 3</option><option value="S36A-3">SILO 36A PLANTA 3</option><option value="S36C">SILO 36C PLANTA 3</option><option value="S36C-3">SILO 36C PLANTA 3</option><option value="S36D">SILO 36D PLANTA 3</option><option value="S36D-3">SILO 36D PLANTA 3</option><option value="S37B">SILO 37B PLANTA 3</option><option value="S37B-3">SILO 37B PLANTA 3</option><option value="S37C">SILO 37C PLANTA 3</option><option value="S37C-3">SILO 37C PLANTA 3</option><option value="S38A">SILO 38A PLANTA 3</option><option value="S38A-3">SILO 38A PLANTA 3</option><option value="S38C">SILO 38C PLANTA 3</option><option value="S38C-3">SILO 38C PLANTA 3</option><option value="S38D">SILO 38D PLANTA 3</option><option value="S38D-3">SILO 38D PLANTA 3</option><option value="S39B">SILO 39B PLANTA 3</option><option value="S39B-3">SILO 39B PLANTA 3</option><option value="S39C">SILO 39C PLANTA 3</option><option value="S39C-3">SILO 39C PLANTA 3</option><option value="S3G">SILO 3 PLANTA 1</option><option value="S4">SILO 4 PLANTA 2</option><option value="S40A">SILO 40A PLANTA 3</option><option value="S40A-3">SILO 40A PLANTA 3</option><option value="S40C">SILO 40C PLANTA 3</option><option value="S40C-3">SILO 40C PLANTA 3</option><option value="S40D">SILO 40D PLANTA 3</option><option value="S40D-3">SILO 40D PLANTA 3</option><option value="S5">SILO 5 PLANTA 2</option><option value="S5G">SILO 5 PLANTA 1</option><option value="S6">SILO 6 PLANTA 2</option><option value="S6G">SILO 6 PLANTA 1</option><option value="S7">SILO 7 PLANTA 2</option><option value="S7G">SILO 7 PLANTA 1</option><option value="S8">SILO 8 PLANTA 2</option><option value="S8G">SILO 8 PLANTA 1</option><option value="S9">SILO 9 PLANTA 2</option><option value="S9G">SILO 9 PLANTA 1</option><option value="SA">SILOS ALMAGRARIO </option><option value="SG4">SILO 4 PLANTA 1</option><option value="SGRNE">SILOS </option><option value="SL1">SILO LATERAL 1</option><option value="SL2">SILO LATERAL 2</option><option value="SO G">DIREC. GRANELES</option><option value="SO PP">DIREC. OPP</option><option value="SOPP">SILOS </option><option value="SPRB">SPRBUN</option><option value="ZBGP">PATIO LOGISTICO BGP</option><option value="ZF">ZONA FRANCA</option></select>';
						   return '<select class ="form-control" style="margin-right:10px;"  name ="select_bodega_' + row.orden + '" id=select_bodega_' + row.orden + ' ><option value="NA">*NO APLICA</option><option value="1" >SILO LATERAL1</option><option value="2" >SILO LATERAL2</option><option value="3" >SILO 1 PLANTA2</option><option value="4" >SILO 1 PLANTA2</option><option value="5" >SILO 3 PLANTA2</option><option value="6" >SILO 4 PLANTA2</option><option value="7" >SILO 5 PLANTA2</option><option value="8" >SILO 6 PLANTA2</option><option value="9" >SILO 7 PLANTA2</option><option value="10" >SILO 8 PLANTA2</option><option value="11" >SILO 9 PLANTA2</option><option value="12" >SILO 10 PLANTA2</option><option value="13" >SILO 1 PLANTA1</option><option value="14" >SILO 2 PLANTA1</option><option value="15" >SILO 3 PLANTA1</option><option value="16" >SILO 4 PLANTA1</option><option value="17" >SILO 5 PLANTA1</option><option value="18" >SILO 6 PLANTA1</option><option value="19" >SILO 7 PLANTA1</option><option value="20" >SILO 8 PLANTA1</option><option value="21" >SILO 9 PLANTA1</option><option value="22" >SILO 10 PLANTA1</option><option value="23" >ECOBODEGA</option><option value="24" >BODEGA 12</option><option value="25" >BODEGA 12 A</option><option value="26" >BODEGA 12 B</option><option value="27" >BODEGA A</option><option value="28" >BODEGA B</option><option value="29" >BODEGA C MOD 1</option><option value="30" >BODEGA C MOD 2</option><option value="31" >BODEGA C MOD 3</option><option value="32" >BODEGA D MOD 1</option><option value="33" >BODEGA D MOD 2</option><option value="34" >BODEGA D MOD 3</option><option value="35" >BODEGA E MOD 1</option><option value="36" >BODEGA E MOD 2</option><option value="37" >BODEGA E MOD 3</option><option value="38" >BODEGA E MOD 4</option><option value="39" >BODEGA E MOD 5</option><option value="40" >BODEGA E MOD 6</option><option value="41" >BODEGA E MOD 7</option><option value="43" >BODEGA E MOD 8</option><option value="43" >MUELLE 8</option><option value="44" >MUELLE 9</option><option value="45" >MUELLE 10</option><option value="46" >MUELLE 11</option><option value="47" >MUELLE 12</option><option value="48" >MUELLE 13</option><option value="49" >MUELLE 14</option><option value="50" >MILLENIUM</option><option value="51" >BODEGA1</option><option value="52" >BODEGA2</option><option value="53" >BODEGA3</option><option value="54" >BODEGA4</option><option value="55" >BODEGA5</option><option value="56" >ALMAGRARIO</option><option value="57" >CIAMSA II</option><option value="58" >PATIO VACIO</option><option value="59" >TRENACO</option><option value="60" >BGP</option><option value="61" >COQUECOL</option></select>';
                        }
                    }
                    ,
                    {
                        "data": "mn",

                        render: function (data, type, row) {
                            return '<input   name ="select_escotilla_' + row.orden + '" id=select_escotilla_' + row.orden + '  size=1 maxlength=1 onkeypress="return validaNumericos(event)" > ';
                        }

                    },
                    {
                        "data": "mn",

                        render: function (data, type, row) {
                            return '<button class="btn btn-primary" onclick="myFunction(' + row.orden + ',' + row.compartido + ')">  <span class="glyphicon glyphicon-ok"></span></button> ';
                        }

                    }
                ]

            });


        });
    </script>

</body>




}
else
{
<p>Se debe de logear para poder acceder a la aplicaciones</p>
}

