﻿@{
    ViewBag.Title = "Reporte Enturnados";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*<p>Motona.</p>*@

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https//cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">



<table id="tblEnturnados" width="100%">
    <thead>
        <tr class="headings">
    <thead>
        <tr>
            <th>MN</th>
            <th>Cliente</th>
            <th>Destino</th>
            <th>Producto</th>
            <th>Transportadora</th>
            <th>Placa</th>
            <th>Orden</th>
            <th>Carga.En</th>
            <th>Res.Turno</th>
            <th>Enturnado</th>
            <th>Sitio.Ent</th>
            <th>Citas PB</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>MN</th>
            <th>Cliente</th>
            <th>Destino</th>
            <th>Producto</th>
            <th>Transportadora</th>
            <th>Placa</th>
            <th>Orden</th>
            <th>Carga.En</th>
            <th>Res.Turno</th>
            <th>Enturnado</th>
            <th>Sitio.Ent</th>
            <th>Citas PB</th>
        </tr>
    </tfoot>
</table>


<script type="text/javascript">

    var dataSet =
    [
        {"mn": "FEDERAL CHURCHILL", "cliente": "INGREDION COLOMBIA", "destino": "CALI", "producto": "MAIZ AMERICANO ", "transportadora": "TRANS CARGO", "placa": "SQL145", "orden": "35757", "carga_en": "MUELLE 11 - A", "reservaT": "Feb 10 2018 2:23PM", "enturnado": "Feb 10 2018 3:17PM", "sitioEnturnamiento": "ZOL", "citaSpb": "Feb 13 2018 9:00AM" },
        { "mn": "INDIAN OCEAN", "cliente": "VARGAS SANCHEZ", "destino": "VARGAS SANCHEZ S.A.S.", "producto": "MAIZ AMERICANO ", "transportadora": "TRANSPORTES ALIANCE S.A.S", "placa": "ZNL036", "orden": "36217", "carga_en": "SILOS ", "reservaT": "Feb 13 2018 10:18AM", "enturnado": "Feb 13 2018 10:26AM", "sitioEnturnamiento": "ZOL", "citaSpb": "Feb 13 2018 6:00PM" }
    ];

    $(document).ready(function () {

        // Setup - add a text input to each footer cell

        $('#tblEnturnados tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Buscar ' + title + '" />');


        });

        var table = $('#tblEnturnados').DataTable({
            "sAjaxDataProp": "",
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }

            },
            "ajax": "http://172.30.200.50/oppgranelesapi/api/Reports/Enturnados"
            ,"dom": "Bfrtip",
            "buttons":[  "copy" ,"csv","excel","pdf" ],


            "columns": [
                { "data": "mn" },
                { "data": "cliente" },
                { "data": "destino" },
                { "data": "producto" },
                { "data": "transportadora" },
                { "data": "placa" },
                { "data": "orden" },
                { "data": "carga_en" },
                { "data": "reservaT" },
                { "data": "enturnado" },
                { "data": "sitioEnturnamiento" },
                { "data": "citaSpb" }
            ]
            , initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo($(column.header()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }

        });


        // Apply the search
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });

    
</script>