﻿@{
    ViewBag.Title = "Reporte Tarados";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*<p>Motona.</p>*@

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<table id="tblTarados" width="100%">
    <thead>
        <tr class="headings">
    <thead>
        <tr>
            <th>Mn</th>
            <th>Producto</th>
            <th>Cliente</th>
            <th>Transportadora</th>
            <th>Destino</th>
            <th>Concepto</th>
            <th>Bodega</th>
            <th>Placa</th>
            <th>Orden</th>
            <th>Tara</th>
            <th>ReservaT</th>
            <th>Enturnado</th>
            <th>Radicado</th>
            <th>IngresaSprb</th>
            <th>Tarado</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Mn</th>
            <th>Producto</th>
            <th>Cliente</th>
            <th>Transportadora</th>
            <th>Destino</th>
            <th>Concepto</th>
            <th>Bodega</th>
            <th>Placa</th>
            <th>Orden</th>
            <th>Tara</th>
            <th>ReservaT</th>
            <th>Enturnado</th>
            <th>Radicado</th>
            <th>IngresaSprb</th>
            <th>Tarado</th>
        </tr>
    </tfoot>
</table>


<script type="text/javascript">

    

    $(document).ready(function () {

        // Setup - add a text input to each footer cell

        $('#tblTarados tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Buscar ' + title + '" />');


        });

        var table = $('#tblTarados').DataTable({
            "sAjaxDataProp": "",
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            "ajax": "http://localhost/oppgranelesapi/api/Reports/Tarados",
            "columns": [
                            { "data": "mn" },
                            { "data": "producto" },
                            { "data": "cliente" },
                            { "data": "transportadora" },
                            { "data": "destino" },
                            { "data": "concepto" },
                            { "data": "bodega" },
                            { "data": "placa" },
                            { "data": "orden" },
                            { "data": "tara" },
                            { "data": "reservaT" },
                            { "data": "enturnado" },
                            { "data": "radicado" },
                            { "data": "ingresaSprb" },
                            { "data": "tarado" }
            ]
        });



        // Apply the search
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });

</script>